<!DOCTYPE html>
<html>
<head>
  <title>
    Medium Backup App
  </title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.min.css"></link>
  <link rel="stylesheet" href="main.css"></link>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  <div class="container" style="margin-top: 20px; margin-bottom: 60px;">
    <div>
      <div class="row">
        <h1 class="pull-left col-sm-6">Medium Backup App</h1>
        <div class="text-center mb-40 pull-right col-sm-6 text-right">
          <a class="btn btn-default btn-raised pull-right" href="https://github.com/cosmicjs/medium-backup" target="_blank">
            <i class="fa fa-github" style="font-size: 20px"></i>
            &nbsp;&nbsp;View Code on GitHub
          </a>
        </div>
      </div>
      <section style="margin: 20px 0 30px;">
        <p>This app imports your Medium posts to Cosmic JS.  Simply add the feed URL of the Medium Blog you would like to import and it will import the 10 latest posts (Medium only allows access to the 10 latest posts in the feed).  This can be a personal account, a publication or a custom domain. <a href="https://help.medium.com/hc/en-us/articles/214874118-RSS-Feeds-of-publications-and-profiles" target="_blank">Read this help article from Medium</a> to find out which URL structure to use.  It can be <code>https://medium.com/feed/@yourusername</code> or if you have a custom domain <code>https://customdomain.com/feed</code>.
        </p>
        <p>If you find that you are only getting partial articles, you may need to go into <a href="https://medium.com/me/settings" target="_blank">your Medium account settings</a> and make sure RSS Feed is set to "Full".
        </p>
        <p>If you choose the cron job option, the cron job will look for new posts every hour.</p>
      </section>
      <section>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#manual" aria-controls="manual" role="tab" data-toggle="tab"><i class="fa fa-wrench"></i>&nbsp;&nbsp;Manual Import</a></li>
          <li role="presentation"><a href="#cron" aria-controls="cron" role="tab" data-toggle="tab"><i class="fa fa-clock-o"></i>&nbsp;&nbsp;Cron Jobs</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="manual">
            <form id="import_posts">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 300px;">Feed URL</th>
                    <th style="width: 100px;">Cosmic JS Bucket Slug</th>
                    <th style="width: 100px;"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <input class="form-control input-lg feed-url" name="feed_url" placeholder="https://medium.com/feed/@yourusername">
                    </td>
                    <td>
                      <input class="form-control input-lg bucket-slug" name="bucket_slug" placeholder="my-bucket-slug" value="{{ bucket_slug }}">
                    </td>
                  </tr>
                </tbody>
              </table>
              <button class="btn btn-primary btn-raised submit-feed-url" type="submit">Import Posts</button>
            </form>
            <div class="import-message" style="margin-top: 10px"></div>
            <div id="posts"></div>
          </div>
          <div role="tabpanel" class="tab-pane" id="cron">
            <form id="add_crons">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 100px;">Title</th>
                    <th style="width: 300px;">Feed URL</th>
                    <th style="width: 100px;">Cosmic JS Bucket Slug</th>
                    <th style="width: 100px;"></th>
                  </tr>
                </thead>
                <tbody class="crons">
                  {{# crons }}
                    <tr class="feed-row" data-id="{{ _id }}">
                      <td>
                        <input class="form-control input-lg title" name="title" value="{{ title }}" placeholder="Publication Title">
                      </td>
                      <td>
                        <input class="form-control input-lg feed-url" name="feed_url" placeholder="https://medium.com/feed/@yourusername" value="{{ metadata.feed_url }}">
                      </td>
                      <td>
                        <input class="form-control input-lg bucket-slug" name="bucket_slug" placeholder="my-bucket-slug" value="{{ metadata.bucket_slug }}">
                      </td>
                      <td>
                        <button class="btn btn-raised delete-row" type="button" data-slug="{{ slug }}">&times;</button>
                      </td>
                    </tr>
                  {{/ crons }}
                </tbody>
              </table>
              <div class="new-row">
                <button type="button" class="btn btn-default btn-raised add-new-cron">+ Add another cron</button>
              </div>
              <div>
                <button class="btn btn-primary btn-raised submit-feed-url" type="submit">Save Crons</button>
              </div>
            </form>
            <div class="add-crons-message" style="margin-top: 10px"></div>
          </div><!-- .tab-pane -->
        </div>
      </section>
      <div style="margin-top: 20px">
        <a href="https://cosmicjs.com" target="_blank" style="text-decoration: none;"><img style="float:left;margin-right:15px;position:relative;" src="https://cosmicjs.com/images/logo.svg" width="28" height="28"><span class="powered-by" style="position:relative; top: 4px; color: #333;">Proudly powered by Cosmic JS</span></a>
      </div>
    </div>
  </div>
  <script src="main.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>